html{
  font-size: 18px;
  font-family: 'PT Sans Narrow', sans-serif;
}

body{
  box-sizing: border-box;
  padding: 10px 20px 30px;
}
h1{
  font-size: 2rem;
}
h2{
  font-size: 1rem;
  color: #414141;
}
.myText{
  font-size: 2rem;
}
th{
	font-size: 2rem;
}
table{
	width:70%;
	border:3px solid black;
}
th{
	border:2px solid grey;
}
td{
  border:2px solid grey;
  padding: 7px;
}
.pointer{
  cursor: pointer;
}
input{
  margin: 20px;
  border: 2px solid black;
}